@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    direction: rtl;
    font-family: ar-font;
    text-align: right !important;
}

header.header video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header.header .overlay {
    background-color: rgba(255, 255, 255, 0.7)
}

header.header .overlay .navbar {
    margin-bottom: 80px;
}

header.header .overlay .header-text h3 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 46px;
}

header.header .overlay .header-text p {
    font-size: 18px;
    color: #5d5d5d;
    line-height: 32px;
    margin-bottom: 50px;
}

header.header .overlay .header-text {
    margin-top: 7rem;
}

header.header .overlay .header-text .buttons {
    border-radius: 0px;
    font-size: 18px;
    font-family: ar-font;
    line-height: 32px;
    padding: 8px 25px;
}

header.header .overlay .header-text .buttons button:first-of-type {
    background-color: #7233a2;
    color: #ffffff;
    margin-left: 15px;
}

header.header .overlay .header-text .buttons button:last-of-type {
    background-color: transparent;
    color: #7936b2;
    transition: all 2s ease;
}

header.header .overlay .header-text .buttons button:last-of-type:hover {
    background-color: #7233a2;
    color: #ffffff;
}

header.header .overlay .product-imge {
    position: relative;
    margin-bottom: 30px;
}

header.header .overlay .product-imge img.lebal {
    position: absolute;
    top: -50px;
    right: -50px;
}

header.header .overlay .product-imge p {
    position: absolute;
    top: -30px;
    right: 0px;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

header.header .overlay .product-imge p span {
    display: block;
}

section.features .title h3 {
    font-size: 36px;
    color: #555555;
}

section.features {
    background-color: #ffffff;
    padding: 25px 0;
}

section.features .title {
    position: relative;
    margin-bottom: 20px;
}

section.features .title::after {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 150px;
    height: 2px;
    background-color: #7233a2;
    left: 50%;
    transform: translateX(-50%);
}

section.features .featur {
    padding: 70px 0;
    border-bottom: 3px solid #eeeeee;
}

section.features .featur:nth-last-child(1) {
    border-bottom: 0px;
}

section.features .featur .media .media-body h5 {
    font-size: 36px;
    font-weight: bold;
    color: #7233a2;
    padding: 0 20px;
    border-right: 2px solid #7233a2;
    margin-bottom: 50px;
}

section.features .featur .media .media-body p {
    font-size: 18px;
    line-height: 32px;
    color: #555555;
}

section.features .featur .media img {
    margin: 0 4rem;
}

section.features .featur .media .media-body {
    margin-top: 50px;
}

section.features .featur:nth-of-type(even) {
    text-align: left;
}

section.features .featur:nth-of-type(even) .media .media-body h5 {
    border-right: 0;
    border-left: 2px solid #7233a2;
}

section.prices {
    padding: 75px 0;
    background-color: #f7f7f7;
}

section.prices .title h3 {
    font-size: 30px;
    color: #555555;
}

section.prices .plan {
    background-color: #ffffff;
    color: #a9a9ab;
    border: 2px solid #ededed;
    padding-top: 15px;
    margin-top: 100px;
}

section.prices .plan p {
    color: #a044ff;
    font-size: 18px;
}

section.prices .plan h3 {
    font-size: 50px;
    margin: 30px auto;
}

section.prices .plan h3 span {
    font-size: 15px;
    vertical-align: bottom;
}

section.prices .plan ul li {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}

section.prices .plan ul {
    padding: 0;
    margin: 0;
}

section.prices .plan button {
    border: 1px solid #7233a2;
    background-color: #ffffff;
    color: #7233a2;
    font-family: ar-font;
    border-radius: 0px;
    padding: 0.5rem 1.75rem;
}

section.prices .plan button:hover {
    color: #ffffff;
    background-color: #7233a2;
    transition: all 2s ease;
}

section.prices .plan.popular {
    margin-top: 55px;
    padding-top: 60px;
}

section.prices .plan.popular button {
    background-color: #7233a2;
    color: #ffffff;
    border: 1px solid #7233a2;
}

section.prices .plan.popular button:hover {
    background: #ffffff;
    color: #7233a2;
}

section.faq {
    padding: 55px 0;
    background-color: #ffffff;
}

section.faq .title {
    padding-top: 50px;
    margin-bottom: 50px;
}

section.faq .title h3 {
    font-size: 30px;
    color: #555555;
}

section.faq .card {
    border: 1px solid #ebebeb;
    border-radius: 0px;
    margin-bottom: 15px;
}

section.faq .card .card-header {
    border-bottom: 0px;
    background-color: transparent;
}

section.faq .card .card-header h5 a {
    font-size: 18px;
    color: #555555;
    display: block;
    font-weight: bold;
    position: relative;
}

section.faq .card .card-header h5 a .angle-edit {
    position: absolute;
    top: 2px;
    left: 5px;
}

section.faq .card .card-body {
    font-size: 15px;
    line-height: 24px;
    color: #c9c9c9;
    padding: 0 1.25rem 1.25rem;
}

section.faq .card .card-header h5 a:hover {
    text-decoration: none;
}

section.faq .card .card-header h5 a.collapsed .angle-edit:before {
    content: "\f106";
}

section.video {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

section.video video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

section.video .overlay {
    background-color: rgba(106, 48, 147, 0.7);
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

section.video button {
    position: absolute;
    outline: none;
    right: 50%;
    top: 24%;
    font-size: 30px;
    font-family: ar-font;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    transform: translate(50%, 50%);
}

section.video button .icon-video {
    display: block;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 50px;
    line-height: 90px;
}

section.contact {
    background-color: #131313;
    padding: 60px 0 40px;
}

section.contact .contact-us .title h4 {
    font-size: 18px;
    line-height: 50px;
    color: #758594;
}

section.contact .contact-us form .form-group {
    margin-bottom: 6px;
}

section.contact .contact-us form .form-group input, section.contact .contact-us form .form-group textarea {
    border-radius: 3px;
    background-color: #242424;
    font-size: 18px;
    line-height: 35px;
    color: #aeadad;
    font-family: ar-font;
    border: 0;
}

section.contact .contact-us form button.submit {
    font-size: 18px;
    color: #ffffff;
    font-family: ar-font;
    background-color: #7233a2;
    padding: 7px 24px;
}

section.contact .contact-us form .error {
    color: red;
}

section.contact .other-product .title h4 {
    font-size: 18px;
    line-height: 50px;
    color: #758594;
}

section.contact .other-product .media .media-body h5 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #aeadad;
}

section.contact .other-product .media .media-body p {
    font-size: 15px;
    line-height: 20px;
    color: #737373;
}

section.contact .other-product .media {
    margin-bottom: 25px;
}

section.contact .other-product .media img {
    margin-left: 20px;
}

footer {
    background-color: #1d1d1d;
    height: 80px;
    padding-top: 20px;
}

footer .social-media ul li a {
    background-color: #758594;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: block;
    color: #1d1d1d;
    border-radius: 50%;
}

footer .social-media ul li {
    margin-left: 10px;
}

footer .social-media ul li a:hover {
    background-color: #1479ec;
}

footer .copyright {
    font-size: 15px;
    color: #919191;
    text-align: left;
}

@media(max-width: 1199.98px) {
    section.faq .card .card-header h5 a {
        font-size: 16px;
    }
    header.header .overlay .navbar {
        margin-bottom: 0px;
    }
}

@media(max-width: 991.98px) {
    header {
        overflow-x: hidden;
    }
    header.header .overlay .product-imge img:first-of-type {
        width: 120%;
    }
    .buttons {
        margin-bottom: 50px;
    }
    section.features .featur .media img {
        margin: 0 2rem;
    }
    section.video button {
        top: 90;
    }
    header.header .overlay .navbar {
        margin-bottom: 0px;
    }
    header.header .overlay .header-text p {

        margin-bottom: 19px;
    }
    header.header .overlay .header-text {
        margin-top: 2rem;
    }
}

@media(max-width: 767.98px) {
    header.header .overlay .navbar {
        margin-bottom: 0px;
    }
    header.header .overlay .product-imge img:first-of-type {
        width: 100%;
    }
    .buttons {
        margin-bottom: 75px;
    }
    section.features .featur .media img {
        width: 50%;
    }
    section.video button {
        top: 19%;
    }
    section.contact .contact-us form button.submit {
        margin-top: 15px;
    }
    header.header .overlay .product-imge img:first-of-type {
        width: 80%;
        margin-right: 46px;
    }
    header.header .overlay .product-imge p {
        right: 42px;
    }
    header.header .overlay .product-imge img.lebal {
        right: -10px;
    }
    footer {
        padding-top: 0px;
    }
    footer .social-media ul li {
        margin-left: 10px;
        position: relative;
        top: 19px;
    }
    footer .copyright {
        position: relative;
        top: 73%;
    }
    
}
@media(max-width: 575.98px) {
    footer .copyright {
        position: relative;
        top: -31%;
    }
}